# Ignore virtual environments
fcn_env/
venv/
env/
myenv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model weights
*.pth

# Ignore data files
data/

# Ignore Paraview files
*.pvsm

# Ignore .gif files which were used for displaying results
#*.gif

#Ignore docker architecture, since FEniCS is not being used anymore.
docker/